@tailwind base;
@tailwind components;
@tailwind utilities;

hmtl, body {
  background-color: #202f43;
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@layer utilities {
  .keyframe {
    animation: opac 0.4s;
  }

  @keyframes opac {
    0% {
      opacity: 0;
    }

    50% {
      opacity: 0.5;
    }

    100% {
      opacity: 1;
    }
  }

  .z-1 {
    z-index: 1;
  }

  .z-2 {
    z-index: 2;
  }

  .z-3 {
    z-index: 3;
  }
}

.circle-effect {
  @apply bg-bubble-blue rounded-full w-11 h-11 flex
  items-center justify-center;
}

.gradient {
  @apply absolute w-full h-full top-0 left-0;
  background: linear-gradient(220deg, #202f43, #3a5b85);
  opacity: 0.85;
}